#main {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #dddddd;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    display: flex;
}
#title {
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
#title h1 {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
    margin-top: 3%;
}
#title p {
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 15px;
    opacity: 80%;
    font-weight: 300;
}
#img-div {
    margin-top: 3% auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 720px;
    width: 100%;
}
#image {
    max-width: 708px;
    width: 100%;
}
#img-caption {
    font-family: 'Roboto';
    font-size: 13px;
    margin-top: 1%;
    line-height: 20px;
    padding: 2%;
    font-weight: 300;
}
#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tribute-info h2 {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
    margin-top: 6%; 
}
ul {
    margin-top: 3%;
    width: 35%;
}
ul li {
    margin-bottom: 6%;
    line-height: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
}
q {
    font-style: italic;
    margin-top: 2%;
    font-family: 'Roboto';
    font-weight: 300;
    opacity: 90%;
}
#tribute-info p {
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: 'Roboto';
    font-weight: 300;
}
#tribute-link {
    color: royalblue;
    font-weight: 500;
    font-family: 'Roboto';
}
@media(max-width:480px){
    #tribute-info h2 {
        font-size: 18px;
    }
    image, q, #tribute-info p {
        padding: 2%;
    }
    ul {
        width: 50%;
    }
}